<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/faker.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/faker.css') }}">
    <title>Fake Artist</title>
</head>
<body>
    <header>
        <a href="">
            <h1>Fake Artist</h1>
        </a>
        <h2>NAME ist der Gamemaster</h2>
        <h2>Du bist der Faker, lasse dich nicht erwischen!:</h2>
        <form action="" method="POST">
            <input style="display: none;" name="newGame">
            <button type="submit">Neues Spiel</button>
        </form>
        <form action="" method="POST">
            <input style="display: none;" name="endGame">
            <button type="submit">Spiel beenden</button>
        </form>
    </header>
</body>
</html>